body {
  overflow: auto;
  padding-top: 60px;
  font-size: 14pt;
}

#background {
  z-index: -100;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: clip;
  top: 0px;
  left: 0px;
  /* opacity: 0.3; */
}

.navbar, .navbar-brand, .navbar-default, .navbar-fixed-top, .nav .active {
  height: 10px;
}

#zonebar, .navbar-brand {
  font-size: 12pt;
}

#zonebar {
}

.navbar-nav {
  margin: 0px;
}


.navbar-guest {
  background-color: #f8eeee;
  border-color: red !important;
}

h1,h2,h3 {
  font-size: 20px;
}

.container {
  width: 100%;
}

ul.dropdown-menu {
  font-size: 20px;
}

li.dropdown-header {
  font-size: 18px;
}

a.activity {
  margin: 5px;
  min-width: 150px;
  height: 115px;
  text-align: center;
  padding: 1px;
}

div.subzone {
  margin-bottom: 10px;
}

a.activity div:nth-child(2) {
  float: bottom;
  font-size: 16px;
}

div.activity-icon {
  padding-top: 10px;
  width: 100%;
  height: 68px;
  line-height: 68px;
  margin: auto;
}

div.activity-icon img {
  max-width: 140px;
  max-height: 100%;

}

#volcur {
  color: grey;
}

button#volset::after {
  content:'';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--volume-indicator);
  background-color: #000099; /* The color you want to fill with */
  opacity: 0.2;
}

div.well {
  background-color: rgba(245, 245, 245, 0.7);
}

a.active {
  border: 1px solid #aaaaff;
  background-color: #eeeeff;
}

#blockui {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.0;
  background-color: #000000;
  z-index: 9999;
  display: none;
}

a.active-zone {
  border-bottom: 2px solid #8888ff;
  border-right: 2px solid #8888ff;
  border-top: 2px solid #aaaaff;
  border-left: 2px solid #aaaaff;
  background-color: #ffffff;
  important!color: #777;
}

a.used-zone {
  font-weight: bold;
}

span.hidden {
  visibility: hidden;
}

/** DISABLE NAVBAR COLLAPSE **/
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}
