body {
  overflow: hidden;
  padding-top: 70px;
  font-size: 20px;
}

.container {
  width: 100%;
}

ul.dropdown-menu {
  font-size: 20px;
}

li.dropdown-header {
  font-size: 18px;
}

a.activity {
  margin: 10px;
  min-width: 154px;
  height: 199px;
  text-align: center;
}

div.activity-icon {
  width: 100%; 
  height: 128px;
  line-height: 128px;
  margin: auto;
}